body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  background-image: url('./assets/kot.png');
  background-repeat: repeat;
  background-size: 400px 400px;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #e39dff;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-size: 50px;
}

h2 {
  text-align: center;
  color: #ccad85;
  margin-top: 6rem;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-size: 30px;
}

h3 {
  text-align: center;
  color: #f1cb1e;
  margin-top: 50px;
  margin-bottom: 5px;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-size: 50px;
}

h4 {
  text-align: center;
  color: #fd5e5e;
  margin-top: 1rem;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-size: 20px;
}

h5 {
  text-align: center;
  color: #ccad85;
  margin-top: 0px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #ccad85;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
  margin-bottom: 20px; /* Add margin to separate from other content */
}

.header-left {
  display: flex;
  align-items: center;

}

.header-right {
  display: flex;
  gap: 10px;
}

.header span {
  font-size: 1.2em;
  margin-right: 10px;
}

.counter {
  font-size: 20px;
  color: #2c3e50;
  background-color: rgb(255, 167, 251);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cat-container {
  text-align: center;
  margin: 0 auto 10px auto; /* Centered and reduced margin */
  background-color: #ccad85;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Maximum container width */
}

.cat-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 10px auto; /* Reduced margin */
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, margin 0.3s ease;
}

.cat-image:hover {
  transform: scale(1.05);
}

.favorite-cats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.favorite-cat {
  margin: 10px;
  text-align: center;
  background-color: #fdef73;
  border-radius: 10px;

  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, margin 0.3s ease; /* Added margin animation */
  cursor: pointer; /* Ensure the cursor changes to indicate interactivity */
}

.favorite-cat.enlarged-cat {
  transform: scale(1.2);
  margin: 20px; /* Increase the margin to ensure space around the enlarged container */
}

.favorite-cat img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.favorite-cat.enlarged-cat img {
  width: 120px; /* Increase the size of the image */
  height: 120px; /* Increase the size of the image */
}

.favorite-cat button {
  display: block;
  margin: 10px auto 0;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

button.primary {
  background-color: #ffe282;
  color: rgb(0, 0, 0);
  border-color: #8b4513; 
}

button.secondary {
  background-color: #e39dff;
  color: white;
  border-color: #8b4513; 
}

button.danger {
  background-color: #ff4a4a;
  color: white;
  border-color: #8b4513; 
}

button:hover {
  opacity: 0.8;
}

.modal-custom {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

.modal-custom .form-control {
  border-radius: 5px;
  margin-bottom: 15px;
}

.modal-custom .btn {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #e39dff;
  border-color: #8b4513;
}

.modal-custom .modal-header, .modal-custom .modal-footer {
  border: none;
}